

h2.left {
    text-align: left !important;
    display: block;
    clear: both;
    width: 100%;
}

.how-to-b {

    position: relative;
    margin-top: 10px;

    img {
        margin-right: 40px;
        margin-bottom: 40px;
        display: block;
        float: left;
        clear: both;
        max-width: 300px;

        &.border {
            box-shadow: 10px 10px #222;
            border: 1px solid #000;
        }

    }

    div {
        border-top: 1px dashed rgb(196, 196, 196);
        color: #fff;
        width: 100px;
        position: absolute;
        z-index: 1;

        &.one { 
            width: 300px; top: 10px; left: 70px; 
        }

        &.two { 
            width: 420px; top: 50px; left: 160px; 
        }

        &.three { 
            width: 250px; top: 95px; left: 100px; 

        }

        &.four { 
            width: 300px; top: 270px; left: 160px; 

        }

        &.five { 
            width: 190px; top: 315px; left: 160px; 

        }

        &.six { 
            width: 300px; top: 390px; left: 160px; 

        }
       
        span {
            color: #fff;
            position: absolute;
            right: -214px;
            display: block;
            width: 200px;
            font-size: 14px;
            top: -30px;

        }

        p {
            color: #969696;
            position: absolute;
            right: -215px;
            display: block;
            width: 200px;
            font-size: 10px;
            line-height: 14px;
            top: -30px;

        }
    }


}