<h2 class="left">Start Menu & Set Preferences</h2>

<p>
    Manage your set preferences as well as take initial actions from the start menu.
    The start menu is only visible when your set has no content.
</p>

<div class="how-to-b">
    <img src="../../assets/images/help-b1.png" class="rounded" />
    <img src="../../assets/images/help-b2.png" class="rounded border" />

    <div class="one">
        <span>Set Preferences</span>
        <p>
            Open the set preferences panel with the gear icon.
            You can also click on the audio analyzer.
        </p><br>
    </div>

    <div class="two">
        <span>Generate Set</span>
        <p>
            Generate a complete set of multiple tracks full of gif content.
        </p>
    </div>

    <div class="three">
        <span>Batch Import Media</span>
        <p>
            Import multiple media files.
        </p>
    </div>

    <div class="four">
        <span>Set Name</span>
        <p>
            Name your set.
        </p>
    </div>

    <div class="five">
        <span>Mic/Line-In Source</span>
        <p>
            Select your mic/line-in source for the audio analyzer.
        </p>
    </div>

    <div class="six">
        <span>Remote Control</span>
        <p>
            Toggle the remote control. Access the remote control on your phone in either of 2 ways.
            Scan the QR, Text the code to the number provided.
        </p>
    </div>

</div>