.how-to-app {
    position: relative;

    img {
        width: 800px;

    }

    button {
        position: absolute;
        opacity: 0.8;

        &.one {
            top: 30px;
            left: 10px;
        }

        &.two {
            top: 80px;
            left: 30px;
        }

        &.three {
            top: 300px;
            left: 120px;
        }

        &.four {
            top: 200px;
            left: 680px;
        }

        &.five {
            top: 100px;
            left: 740px;
        }

        &.six {
            top: 5px;
            left: 150px;
        }

        &.seven {
            top: 5px;
            left: 200px;
        }

        &.eight {
            top: 150px;
            left: 400px;
        }

        &:hover {
            opacity: 1;
        }
    }
}