
    ::ng-deep .mat-tooltip, .mat-tooltip {
        //color: yellow !important;
        font-size: 14px !important;
        line-height: 19px !important;
        //padding: 20px;
    }

.how-to-app {
    position: relative;

    img {
        width: 800px;

    }

    // .mat-button-wrapper {
    //     content: "";
    // }

    button {
        position: absolute;
        opacity: 0.8;
        transform: scale(0.4);
        background: #d1f349;
        font-size:25px;
        //color: #d1f349;
        color: #000;
        //font-size: 0px;
        //content: "";

        &.one-new {
            top: 5px;
            left: -5px;
        }

        &.two-new {
            top: 5px;
            left: 20px;
        }

        &.three-new {
            top: 5px;
            left: 45px;
        }

        &.four-new {
            top: 5px;
            left: 70px;
        }

        &.five-new {
            top: 5px;
            left: 95px;
        }

        &.six-new {
            top: 5px;
            left: 120px;
        }

        &.seven-new {
            top: 5px;
            left: 145px;
        }

        &.eight-new {
            top: 5px;
            left: 170px;
        }

        &.nine-new {
            top: 5px;
            left: 195px;
        }

        &.ten-new {
            top: 5px;
            left: 220px;
        }

        &.eleven-new {
            top: -5px;
            left: 600px;
        }

        &.twelve-new {
            top: 10px;
            left: 600px;
        }

        &.thirteen-new {
            top: 25px;
            left: 600px;
        }

        &.fourteen-new {
            top: 15px;
            left: 645px;
        }

        &.fifteen-new {
            top: -10px;
            left: 675px;
        }
    
        &.sixteen-new {
            top: -10px;
            left: 695px;
        }

        &.seventeen-new {
            top: -10px;
            left: 720px;
        }

        &.eighteen-new {
            top: -10px;
            left: 760px;
        }

        &.nineteen-new {
            top: 15px;
            left: 730px;
        }

        &.twenty-new {
            top: 50px;
            left: 95px;
        }

        &.twentyone-new {
            top: 100px;
            left: 35px;
        }

        &.twentytwo-new {
            top: 400px;
            left: 35px;
        }

        &.twentythree-new {
            top: 310px;
            left: 120px;
        }

        &.twentyfour-new {
            top: 310px;
            left: 180px;
        }

        &.twentyfive-new {
            top: 345px;
            left: 100px;
        }

        &.twentysix-new {
            top: 345px;
            left: 125px;
        }

        &.twentyseven-new {
            top: 345px;
            left: 150px;
        }

        &.twentyeight-new {
            top: 345px;
            left: 175px;
        }

        &.twentynine-new {
            top: 345px;
            left: 198px;
        }

        &.thirty-new {
            top: 345px;
            left: 220px;
        }

        &.thirtyone-new {
            top: 345px;
            left: 240px;
        }

        &.thirtytwo-new {
            top: 345px;
            left: 260px;
        }

        &.thirtythree-new {
            top: 390px;
            left: 115px;
        }

        &.thirtyfour-new {
            top: 375px;
            left: 140px;
        }

        &.thirtyfive-new {
            top: 310px;
            left: 595px;
        }

        &.thirtysix-new {
            top: 310px;
            left: 625px;
        }

        &.thirtyseven-new {
            top: 310px;
            left: 655px;
        }

        &.thirtyeight-new {
            top: 345px;
            left: 625px;
        }

        &.thirtynine-new {
            top: 345px;
            left: 650px;
        }

        &.forty-new {
            top: 40px;
            left: 670px;
        }

        &.fortyone-new {
            top: 60px;
            left: 670px;
        }

        &.fortytwo-new {
            top: 60px;
            left: 760px;
        }

        &.fortythree-new {
            top: 100px;
            left: 740px;
        }

        &:hover {
            opacity: 0.9;
        }
    }
}