
.cam {
    width: 100vw;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 0;
    
    
    
    background: #333;


    &.user {
        transform: rotateY(180deg);
        -webkit-transform:rotateY(180deg); /* Safari and Chrome */
        -moz-transform:rotateY(180deg); /* Firefox */
    }
}

.facing-torch {
    background: #fff;
    opacity: 0.9;
    height: 100vh;
    width: 100vw;
    position: static;
    z-index: 2;
}

.main-wrapper {
    background: #000;
    height: 100vh;
}

.start-button {
    position: fixed;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    background-color: #ff0042;
    color: #333;
    font-size: 40px;
}

.message {
    position: absolute;
    z-index: 10;
    left: 70px; 
    top:30px;
    color: #ff0042;
}

.live-stream-status {
    background: #ccc;
    position: fixed;
    transform: scale(0.8);
    top: 20px; 
    right: 60px;
    z-index: 3;
    &.red {
        background: rgb(190, 61, 61);
    }
}

.on-the-air-status {
    background: #ccc;
    position: fixed;
    transform: scale(0.8);
    top: 20px; 
    right: 20px;
    z-index: 3;
    &.green {
        background: rgb(67, 165, 67);
    }
}

.flash {

    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 3;
}


.flip-cam {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 2;
}