<h1>About Visualz</h1>
<p>
    Visualz is an visual media organization. We do a lot of different things.
</p>
<ul>
    <li>
        <strong>
            At our core we develop audio-reactive visual composition
            software that makes this all possible. And we give it away for free.
        </strong>
    </li>
    <li>Live visual graphics, creative, and projections for live events and concerts.</li>
    <li>Artist creative services.</li>
    <li>Vj/Dj producing, distribution, booking.</li>
    <li>Parties. Parties. Parties.</li>
    <li>We're in Chicago. But go all over.</li>
</ul>