<div class="content-wrapper dark">
    <div class="content-inner-wrapper">
        <div class="download-area">

            <img src="../../assets/images/icon.ico" class="ico" />

        </div>
        <div class="release-notes">
            <h1>VISUALZ is</h1>

            <p>
                Part of the VISUALZ audio reactive family.
            </p>

            <p>
                Passionate about technology, visual arts, music &amp; artists.
                VISUALZ is based in Chicago.
            </p>

            <p>
                Our founders combined these passions into the audio reactive VJ software platform, VISUALZ. Designed for
                live streams, events, and installations. 
                Compose your sets ahead of time or VJ in realtime, 
                and optionally stream your output anywhere in the world over 
                the browser or to OBS. 
            </p>
            
            <p>
                VISUALZ is built using web technologies such as WebGL, Web Audio, WebRTC,
                and other black magic...
            </p>

            <p>
                Announcing <a href="" target="_blank">VISUALZ WEAR</a>, a line of high-end wearable audio reactive LED
                wearables/jewelry.
            </p>

            <p>
                When not building software or wearables. We're doing festivals, streams, clubs, events, installations, and more. Contact
                contact@visualzstudio.com to collaborate or hire us.
            </p>

            <h2>Reach Out</h2>
            <p>
                We love hearing from people. That's how we get new ideas, make new friends, and collaborate. Contact <a
                    href="mailto:contact@visualzstudio.com">contact@visualzstudio.com</a>.
            </p>


        </div>
    </div>
</div>