<div class="content-wrapper dark">
    <div class="content-inner-wrapper">
        <div class="download-area">

            <img src="../../assets/images/logo_2021_300.png" class="ico" />

        </div>
        <div class="release-notes">
            <h1>ABOUT</h1>

            <p>
                VISUALZ is from Chicago, but now we have a presence in Colorado!
            </p>
            <p>
                <!-- <a href="https://karl.pb.studio">Karl</a>  -->
                The creators of visualz are passionate about coding, technology, lighting, visuals, music &amp; artists.
            </p>
            <p>
                These passions were combined to create the audio reactive graphics software, VISUALZ. Designed for
                VJs, videos, events, concerts, live streams, and installations. 
            </p>    
            <p>   
                Compose your sets in advance or VJ live and in realtime. 
                You can optionally stream your output anywhere in the world over 
                the browser or to OBS or any Smart TV. 
            </p>
            
            <p>
                VISUALZ is built using web technologies such as WebGL, Web Audio, WebRTC,
                and other black magic.
            </p>

            <!-- <p>
                Announcing <a href="" target="_blank">VISUALZ WEAR</a>, a line of high-end wearable audio reactive LED
                wearables/jewelry.
            </p> -->

            <p>
                When not building software. We're doing festivals, clubs, streams, events, installations, and more. Email
                <a href="mailto:contact@visualzstudio.com">contact@visualzstudio.com</a> for anything you need.
            </p>

            <!-- <h2>Reach Out</h2>
            <p>
                We love hearing from people. That's how we get new ideas, make new friends, and collaborate. Contact <a
                    href="mailto:contact@visualzstudio.com">contact@visualzstudio.com</a>.
            </p> -->


        </div>
    </div>
</div>

<!-- Partners -->
<header class="skew">
    <h2>EVENTS / COLLABORATORS</h2>
</header>

<div class="content-wrapper dark small-bottom collab">
    <div class="">
        <div class="invert">
            <app-collaborators>
                
            </app-collaborators>
        </div>
    </div>
</div>

<!-- Collaborators -->
<header class="skew">
    <h2>MUSICIANS</h2>
</header>

<div class="content-wrapper dark small-bottom collab">
    <div class="">
        <app-musicians>

        </app-musicians>
    </div>
</div>