<h2 class="left">Set Toolbar</h2>

<div class="how-to-c">
    <img src="../../assets/images/help-c1.png" class="rounded" />

    <div class="one">
        <span>Cloud Upload</span>
        <p>
            Uploads all local media files in set to the cloud and replaces the
            paths in the set file with the cloud paths. Helps sharing set files.
        </p>
    </div>

    <div class="two">
        <span>Open Browser Live Stream</span>
        <p>
            Stream the contents of the preview window directly to
            the browser so you can perform live visuals remotely
            for events or OBS streams.
        </p>
    </div>

    <div class="three">
        <span>Open External Window</span>
        <p>
            Open multiple external windows for multiple displays/windows
            and for easy use of the main UI during live performances.
        </p>
    </div>

    <div class="four">
        <span>Fullscreen</span>
        <p>
            Go fullscreen in the main window. Use this for projecting when you
            have to mirror a single display. Change tracks using the remote
            control from your phone.
        </p>
    </div>

    <div class="five">
        <span>Set Preferences</span>
        <p>
            Open the set preferences window.
        </p>
    </div>

    <div class="six">
        <span>Add Track</span>
        <p>
            Add a track to your set.
        </p>
    </div>

</div>