$breakpoint-mobile: 768px;

.requirements {
    p {
        text-align: left !important;
    }

    h3 {
        text-align: left;
    }
}

a.button {
    color: #ffffff !important;
    margin: 0px auto;
    display: block;
}

.border {
    background: #ccc;
    width: 1px;
    height: 400px;
    float: left;

    @media (max-width: $breakpoint-mobile) {
        width: 75%;
        margin: 20px auto;
        display: block;
        height: 1px;    
        float: none;
    }
}

.bordered {
    //border: 1px #999 dashed;
    border-radius: 3px;
    padding: 20px 20px 0px 20px;
    margin: 0 20px;
    display: block;
    width: calc(50% - 85px);
    float: left;

    @media (max-width: $breakpoint-mobile) {
        width: calc(250px);
        float: none;
        margin: 20px auto;
    }

    color: #fff;

    a {
        color: #999;
    }

}

.center {
    text-align: center;
}

mat-grid-tile {
    div {
        text-align: center;
        color: #fff; 

        a {
            display: block;
            width: 300px;
            color: #fff;
            text-decoration: none;
            margin: 0px auto 40px auto;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}


.price_card {
	width: calc(24%);
	background: rgb(255, 255, 255);
    float: left;

    color: #000;
}

.price_card:not(:last-child) {
	margin: 0px 1px;
}

.header {
    color: #000;
    padding: 20px;


    .price{
        font-size: 30px;
        display: block;
        text-align: center;
        padding: 30px 0 10px;
    }

    .name{
        font-size: 20px;
        margin-bottom: 10px;
        display: block;
        text-align: center;
    }

    .desc {
        font-size: 15px;
        display: block;
        text-align: center;
    }

}

.features{
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;
}

.features li{
	margin: 0 35px;
	padding: 20px 15px;
	//width: 200px;
}

.features li:not(:last-child){
	border: 1px solid #000;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

[hidden] {
  display: none !important;
}