<div class="content-wrapper normal">
    <h1 class="center">
        Download VISUALZ v2.2.3<br>
        Free for Non-Commercial Use<br>
        🔥 Black Friday Deal - Get VISUALZ 50% Off - That's just $24 🔥<br>
    </h1>

    <div [hidden]="testMode === true">
        <button class="green" id="checkout-button-price_1M7LooKBQoT2WTQq91kFgJWs" role="link"
            mat-raised-button>
            Buy Commercial License
        </button>
    </div>

    <!-- TEST COMMERCIAL LICENSE SPECIAL -->
    <div [hidden]="testMode === false">
        <button class="green" id="checkout-button-plan_HCHlDgrJZXt7r0" role="link"
            mat-raised-button>
            TEST Buy Commercial License
        </button>
    </div>

    <div class="clearfix"></div>

    <div class="bordered">
        <img class="mac" src="../../assets/images/macos.png" />
        <a href="https://github.com/madchops1/visualz-releases/releases/download/v2.2.3/Visualz-2.2.3-x64.dmg"
            target="_blank" mat-raised-button (click)="downloadMac()" class="pink button">
            Download for Mac
        </a>
        <p class="center">
            By downloading you accept the License Agreement
        </p>
        <p class="center">
            &nbsp;&nbsp;&nbsp;
        </p>
        <div>
            <h3>RECOMMENDED MIN REQUIREMENTS</h3>
            <p>
                macOS 10.11 or higher
            </p>
            <!-- <p>
                <strong>GPUs</strong><br>
                Nvidia GeForce 600 Series or better<br>
                AMD Radeon or FirePro<br>
                Intel HD4000 or better<br>
                Mac Pro / iMac / Mac Mini mid-2012 or newer
            </p> -->
            <p>
                MacBook Air mid-2012 or newer
            </p>
            <p>
                MacBook Pro (Retina) late-2012 or newer
            </p>
            <p>
                SSD drive recommended for movie playback
            </p>
            <p>
                Internet Connection. Minimum speed for streaming features 200/kbps
            </p>
        </div>
    </div>

    <div class="border"></div>

    <div class="bordered">
        <img class="windows" src="../../assets/images/windows.png" />
        <a href="https://github.com/madchops1/visualz-releases/releases/download/v2.2.3/Visualz-Setup-2.2.3.exe"
            mat-raised-button class="pink button" target="_blank" (click)="downloadWindows()">
            Download for Windows
        </a>
        <p class="center">
            By downloading you accept the License Agreement
        </p>
        <p class="center">
            <a href="https://www.google.com/search?q=install+non+store+apps+windows+10&rlz=1C1CHBF_enUS840US840&oq=non-store+apps+win&aqs=chrome.2.69i57j69i60j0l4.8285j0j9&sourceid=chrome&ie=UTF-8"
                target="_blank">Allow Non-Store Apps to Install on Windows 10</a>
        </p>
        <div>
            <h3>RECOMMENDED MIN REQUIREMENTS</h3>
            <p>
                <!-- Windows 7 SP1 /  -->
                Windows 8 /
                Windows 10
            </p>
            <p>RAM 8GB</p>
            <!-- <p>
                <strong>Nvidia GPUs</strong><br>
                GeForce 600 Series or better<br>
                Quadro K Series or better
            </p>
            <p>
                <strong>AMD GPUs</strong><br>
                AMD HD 7000 Series or better<br>
                AMD W or V Series or better
            </p>
            <p>
                <strong>Intel Integrated GPUs</strong><br>
                Intel HD4000, HD5000 or better
            </p> -->
            <p>
                SSD drive recommended for movie playback
            </p>
            <p>
                Internet Connection. Minimum speed for streaming features 200/kbps
            </p>
        </div>
    </div>
<!-- 
    <div class="slider">
        <mat-slide-toggle class="example-margin" (change)="onChange($event)" [checked]="yearly" [disabled]="false">
            Yearly
        </mat-slide-toggle>
    </div> -->
    <div class="clearfix"></div>

    <div class="dark clearfix">
        <div class="price_card">
            <div class="header">
                <span class="name">NON-COMMERCIAL</span>
                <span class="desc">For personal use or learning. Not for paying projects.</span>
                <span class="price"> NO ADS, NO WATERMARK, &amp; FREE</span>
            </div>
            <ul class="features">
                <li>Compose sets &amp; tracks of visual media.</li>
                <li>Manual &amp; automated audio reactive scene transitioning.</li>
                <li>*New enhanced scene transitioning and control.</li>
                <li>Audio analysis and beat detection.</li>
                <li>Visual effects.</li>
                <li>*Lots of new FX.</li>
                <li>*New audio reactive visualizers.</li>
                <li>Fractals</li>
                <li>Audio reactive visual effects.</li>
                <li>Remote Streaming / Stream to browser (watermarked).</li>
                <li>OBS &amp; Zoom integration.</li>
                <li>Enhanced streaming connectivity with Ice & Turn server negotiation.</li>
                <li>Auto reconnect and persistant stream urls.</li>
                <li>Camera support.</li>
                <li>Mobile Device camera support.</li>
                <li>Smartphone remote control.</li>
                <li>Gif &amp; image search.</li>
                <li>CC video library.</li>
                <li>3d audio reactive visualizations.</li>
                <li>Multiple screens.</li>
                <li>Music video recorder (watermarked).</li>
                <li>Record &amp; reuse (looping) feature.</li>
                <li>Batch import media.</li>
                <li>Blackout button.</li>
                <li>Replicate scene with fx.</li>
                <li>Replicate track with fx.</li>
                <li>7 day free pro trial.</li>
                <li>Automatic Updates.</li>
                <li>Unlimited output resolution.</li>
            </ul>
        </div>

        <!-- <div class="price_card">
            <div class="header">
                <span class="name">EDUCATIONAL</span>
                <span class="desc">For schools, faculty and students. Not for paying projects.</span>
                <span class="price">$20 yearly</span>
            </div>
            <ul class="features">
                <li>All Non-Commercial Features.</li>
                <li>Fan Selfies (FanCam).</li>
                <li>Mobile device controller.</li>
                <li>Store media in the cloud.</li>
                <li>Output resolution specification.</li>
            </ul>

            <div [hidden]="testMode === true">
                <button color="primary" class="pink" id="checkout-button-plan_H5V1qwEOIY0IXK" role="link"
                    mat-raised-button>
                    Buy Educational License
                </button>
            </div>

            TEST EDUCATIONAL LICENCSE
            <div [hidden]="testMode === false">
                <button color="primary" class="pink" id="checkout-button-plan_H5UfUDScLylpyD" role="link"
                    mat-raised-button>
                    TEST Buy Educational License
                </button>
            </div>
        </div> -->

        <div class="price_card">
            <div class="header">
                <span class="name">COMMERCIAL</span>
                <span class="desc">Fully featured and for use in paying projects, and at venues.</span>
                <span class="price"><del>$48 yearly</del> $24</span>
            </div>
            <ul class="features">
                <li>All the non-commercial features plus:</li>
                <li>MIDI controller support.</li>
                <li>Remote Streaming / BrowserStream (NO watermark).</li>
                <li>Store media in the cloud & share sets.</li>
                <li>Music video recorder (NO watermark).</li>
                <li>Audience contact collection.</li>
                <li>Realtime fan engagement. (FanCam selfies).</li>
                <li>Mobile device controller.</li>
                <li>
                    Global turn &amp; stun servers for realtime global and mobile 
                    streaming with dedicated peer-to-peer negotiation.
                </li>
                <li>
                    These new features mean near 100% reliability for
                    streaming to the browser, fanCam, mobile video, and more.
                </li>
            </ul>

            <!-- PROD COMMERCIAL LICENSE
            <div [hidden]="testMode === true">
                <button color="primary" class="pink" id="checkout-button-plan_H5V8KwiRi8BxEK" role="link"
                    mat-raised-button>
                    Buy Commercial License
                </button>
            </div> -->

            <!-- TEST COMMERCIAL LICENCSE
            <div [hidden]="testMode === false">
                <button color="primary" class="pink" id="checkout-button-plan_H5UhS6ktwnPAfO" role="link"
                    mat-raised-button>
                    TEST Buy Commercial License
                </button>
            </div> -->

            <!-- PROD COMMERCIAL LICENSE -->
            <div [hidden]="testMode === true">
                <button class="green" id="checkout-button-2-price_1M7LooKBQoT2WTQq91kFgJWs" role="link"
                    mat-raised-button>
                    Buy Commercial License
                </button>
            </div>

            <!-- TEST COMMERCIAL LICENSE SPECIAL -->
            <div [hidden]="testMode === false">
                <button class="green" id="checkout-button-plan_HCHlDgrJZXt7r0" role="link"
                    mat-raised-button>
                    TEST Buy Commercial License
                </button>
            </div>

        </div>

        <!-- <div class="price_card">
            <div class="header">
                <span class="name">PRO</span>
                <span class="desc">All features and access to Pro Support.</span>
                <span class="price">$1200</span>
            </div>
            <ul class="features">
                <li>All Features Inlcuded.</li>
                <li>Pro Support Means we are there for you in your time of need.</li>
            </ul>
        </div> -->

        <div class='clearfix'></div>

        <br><br>
        <a class="button center" style="margin: 20px auto -50px; display: block; width: 50%;" class="" target="_blank" href="https://github.com/madchops1/visualz-releases/releases"
            role="link" mat-raised-button>
            Older Versions
        </a>
        <br><br><br>

    </div>