.windows {
    height: 80px;
    display: block;
    margin: 25px auto;
}

.mac {
    height: 80px;
    display: block;
    margin: 25px auto;
}

a.button {
    color: #ffffff !important;
}
.bordered {
    border: 1px #999 dashed;
    border-radius: 3px;
    padding: 20px 20px 0px 20px;
    display: block;
    width: 350px;
    margin: 20px auto;
    text-align:center;

    color: #fff;

    a {
        color: #999;
    }

}

.center {
    text-align: center;
}

mat-grid-tile {
    div {
        text-align: center;
        color: #fff; 

        a {
            display: block;
            width: 300px;
            color: #fff;
            text-decoration: none;
            margin: 0px auto 40px auto;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}