ul {
    //margin: 0px;
    //padding: 0px;
    padding-left: 15px;

    li {
        color: #fff;
        

        a {
            color: #ff0042;
        }
    }
}

h2 {
    text-align: left !important;
}

h3 {
    text-align: left !important;
}

a {
    color: #ff0042;
}