<div class="content-wrapper normal">
    <div class="content-inner-wrapper">
        <h1 class="center">Resources</h1>

        <h2>Where To Find Visuals Content?</h2>

        <p>
            Vizualz has a creative commons viedeo library, gif search, and image search built in.
            Making it very easy to find content fast.
        </p>

        <p>
            Below is a list of other places you can find great content.
        </p>

        <ul>
            <li>
                <a href="https://www.beeple-crap.com/vjloops" target="_blank">Beeple Crap</a>
            </li>
            <li>
                <a href="https://docoptic.com/free/" target="_blank">DocOptic</a>
            </li>
            <li>
                <a href="https://reddit.com/r/vjing" target="_blank">Vjing SubReddit</a>
            </li>
            <li>
                <a href="https://giphy.com" target="_blank">Giphy</a>
            </li>
        </ul>

        <h2>What Should I Have In My VJ Gear?</h2>

        <p>
            Its tough keeping track of what you need to bring to a set.
            Here is a list of items you may find useful in your VJ Kit.
        </p>

        <ul>
            <li>Windows or Apple OSx laptop to run the Visualz, and other software.</li>
            <li>Projector (Its nice to have a few for different situations).</li>
            <li>Projector screen(s) and stand(s).</li>
            <li>Portable AC power station.</li>
            <li>Power Strip</li>
            <li>Zip ties.</li>
            <li>Extension cords.</li>
            <li>Apple TV &amp; Remote</li>
            <li>HDMI cable</li>
            <li>VGA cable</li>
            <li>HDMI -> VGA adapter</li>
            <li>HDMI -> Thunderbolt adapter</li>
            <li>HDMI -> USB adapter</li>
        </ul>

        <h2>What Software Can Help Me?</h2>

        <p>
            Other softwares and online tools that can be very useful.
        </p>

        <ul>
            <li><a href="https://handbrake.fr/" target="_blank">HandBrake</a> for converting video.</li>
        </ul>

        <br><br><br>

    </div>
</div>