<div class="content-wrapper dark">
  <div class="content-inner-wrapper">
      <div class="download-area">

          <img src="../../assets/images/logo_2021_300.png" class="ico" />

      </div>
      <div class="release-notes">
          <h1>CONTACT</h1>

          <p>
              EMAIL: <a href="mailto:contact@visualzstudio.com">contact@visualzstudio.com</a>
          </p>
          <p>
              FB: <a href="https://facebook.com/visualzApp">facebook.com/visualzApp</a>
          </p>
          <p>
              IG: <a href="https://instagram.com/visualzApp">@visualzApp</a>
          </p>    
          <p>   
              TW: <a href="https://twitter.com/visualzapp">@visualzApp</a>
          </p>

      </div>
  </div>
</div>
