<h2 class="left">Sets, Tracks, &amp; Scenes</h2>

<p>
    Sets can have multiple tracks. Your tracks have visual scenes.
    Scenes are visual media content that can be gifs, images, video,
    live camera video, graphic visualizers, and more.
</p>
<br><br>


<div class="how-to-a">

    <img src="../../assets/images/help-a.png" class="rounded" />
    <img src="../../assets/images/help-a1.png" class="rounded" />

    <div class="one">
        <span>Add Scene Content</span>
        <p>
            Add media, camera, fan engagement, and graphic visualizations from this panel.
        </p>
    </div>

    <div class="two">
        <span>Add Media</span>
        <p>
            Add videos and media from your computer or search for gifs and images.
        </p>
    </div>

    <div class="three">
        <span>Add Camera</span>
        <p>
            Add webcam video or stream mobile video from your smartphone into a visualz scene.
        </p>
    </div>

    <div class="four">
        <span>Add FanCam</span>
        <p>
            The FanCam allows your audience to send selfies from their smartphone
            into the visualz scene by scanning a QR code on the screen.
        </p>
    </div>

    <div class="five">
        <span>Add AlphaViz</span>
        <p>
            AlphaViz is an ubervizesque graphic visualizer which you can add additional effects to.
            All FX may not behave as intended in this scene.
        </p>
    </div>

    <div class="six">
        <span>Add Vapor</span>
        <p>
            Vapor is a vaporwave style graphic visualizer. All FX may not behave as
            intended in this scene.
        </p>
    </div>

    <div class="seven">
        <span>Track List</span>
        <p>
            Manage and switch between tracks in this panel.
        </p>
    </div>

    <div class="eight">
        <span>Track Preferences</span>
        <p>
            Adjust various track preferences here by clicking here.
            This option is only available on the track your currntly working on.
        </p>
    </div>

    <div class="nine">
        <span>Manage Track</span>
        <p>
            Reorder, and delete tracks with these buttons.
        </p>
    </div>

</div>