<h2 class="left">Audio Analyzer &amp; Performance Monitor</h2>

<div class="how-to-d">
    <img src="../../assets/images/help-d1.png" class="rounded" />

    <div class="one">
        <span>Waveform</span>
        <p>
            The waveform visualizes the current microphone/line-in signal.
        </p>
    </div>

    <div class="two">
        <span>Beat Decay Line</span>
        <p>
            When a beat or audio change event is detected this line will decay from that level and must be crossed again
            before the next change event.
        </p>
    </div>

    <div class="three">
        <span>Level Line</span>
        <p>
            Tracks the current mic/line-in level.
        </p>
    </div>

    <div class="four">
        <span>Beat/Change Indicator</span>
        <p>
            The background of the analyzer will flash and decay with the beat decay line when there is a beat/change.
        </p>
    </div>

    <div class="five">
        <span>Frames Per Second Monitor</span>
        <p>
            Monitors the frames per second of the current render in the preview window.
            Click for a display of ms to render a single frame.
        </p>
    </div>

    <div class="six">
        <span>Estimated BPM</span>
        <p>
            In realtime based on beat detection, decay, and volume amplitude, Visualz will estimate the BPM.
            This data is used in visualizations.
        </p>
    </div>
</div>