.download {
    position: relative;
    z-index: 2;

    &:hover {
        background: #fff;
        color: #333;
    }
}

.new {
    li {
        font-size: 12px;
        //display: block;
        margin-bottom: 10px;
        //list-style-type: circle;
    }
}