<div class="wrapper">
    <div class="main">
        <h1>VISUALZ for DJs</h1>
        <h2>Realtime audio-responsive visual composition software for DJs, VJs, Artists, and Venues.</h2>
    </div>
</div>


<div class="content-wrapper">
    <div class='macwrap' style="margin-top: -220px; position: relative;">
        <img src='../../assets/images/macbook.png' class='macbook' />

    </div>
    <div class='content-inner-wrapper'>

        <h3 class="center">Features</h3>
        <ul>
            <li>Desktop app for Mac/Windows.</li>
            <li>Audio-Responsive visuals.</li>
            <li>Real-time beat/amplitude detection.</li>
            <li>Compose visuals for your tracks and set.</li>
            <li>Input via 1/8" Line In or Microphone.</li>
            <li>Output via HDMI to projector, screen, or LED wall.</li>
            <li>Convert your own art, graphics, images, and video into video sets.</li>
            <li>Drag &amp; Drop images, videos, gifs, colors, webcam, text, and all other effects.</li>
            <li>Realtime oscilloscope effect.</li>
            <li>Various other effects...</li>
            <li>Save individual tracks, and complete sets of multiple tracks.</li>
            <li>Coming Soon: Change the color on your fan's phone at your set in sync with your visuals.</li>
            <li>Coming Soon: Multiple remote cameras feature.</li>
            <li>Coming Soon: Allow fans at your set to send live selfies directly to your visuals from their phones.
            <li>Coming Soon: Built-in code editor for your own custom effects.
            <li>Coming Soon: Rules to control when content plays during your track, eg. at loud or quiet points.
            </li>
            <li>... Much more is in development. We've got ideas on ideas for the future.</li>
        </ul>
    </div>
    <div class='clearfix'></div>
</div>

<header>
    <button mat-button routerLink="/book" style="display:block; width: 200px; margin: 20px auto; color: #fff !important; font-size: 18px;">BOOK A DEMO</button>
</header>

<div class="content-wrapper dark">
    <iframe src="https://www.youtube.com/embed/zb4jutWN_6M?rel=0&amp;controls=0" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<header>
    <h2>How It Works</h2>
</header>
<div class="content-wrapper">
    <img src="../../assets/images/simplefasteasy-mobile.jpg" style="display:block; max-width:300px; margin:0px auto;">
</div>

<header>
    <h2>Artist Partners</h2>
</header>
<div class="content-wrapper dark">
    <div class="main">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Sam White</mat-card-title>
                <mat-card-subtitle>DJ [Chicago]</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://i1.sndcdn.com/avatars-000334629285-bpkurv-t200x200.jpg" alt="Sam White">
            <mat-card-content>
                <p>
                    Burning Man, Electric Forest, and Bonnaroo.
                    Sam plays ita ll drawomg inspiration from the
                    city that created house, his hometown, Chicago.
                    Currently holds down residencies at The Whistler
                    and performing at clubs such as Virgin Hotel,
                    The Annex, The Empty Bottle, Debonair and more.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <a href="https://samwhitemusic.com/" target="_blank" mat-button>More Info</a>
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Desadeca</mat-card-title>
                <mat-card-subtitle>DJ [Chicago]</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/images/mckinzy.jpg" alt="Mikinzie Stuart">
            <mat-card-content>
                <p>
                    Good vibes only from Desadeca. DJing clubs such as Beauty Bar she is tearing up this city. Keep
                    an eye
                    on this one.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <a href="https://www.facebook.com/djdesadeca/" target="_blank" mat-button>More Info</a>
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Slippin Jimmy</mat-card-title>
                <mat-card-subtitle>DJ [Indiana]</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/images/evan.jpg" alt="Slippin Jimmy">
            <mat-card-content>
                <p>
                    Slippin Jimmy is a beast. Enough Said. Residencies all over Chicago and Indiana. Check him out
                    now.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <a href="https://www.facebook.com/SlippinJimmysHouse/" target="_blank" mat-button>More Info</a>
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Mark Wolff</mat-card-title>
                <mat-card-subtitle>DJ [Chicago]</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/images/mark.jpg" alt="Mark Wolff">
            <mat-card-content>
                <p>
                    Mark Wolff can turn into an animal. The Whistler, Inn Joy, and Warehouse parties oh my. Mark
                    is a true to fashion House Music efficianado.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <a href="https://soundcloud.com/markwolffmusic/" target="_blank" mat-button>More Info</a>
            </mat-card-actions>
        </mat-card>
    </div>




</div>

<!--
<header>
    <h2>Ground Level</h2>
</header>

<div class="content-wrapper">
    <div class='left'>

    </div>
    <div class='left'>
        <p>
            Get down with us on the ground level.
            VISUALZ is pretty dang new and we want to grow.
            VISUALZ is seeking artist partners, investors, and opportunities.
            Feel free to reach out. We really want to work with you.
        </p>
    </div>
    <div class='clearfix'></div>
</div>
-->