
$breakpoint-mobile: 768px;
$breakpoint-xs: 370px;

.email-component {
    width: 50vw;

    @media (max-width: $breakpoint-mobile) {
       width: auto;
    }
}

.download {
    position: relative;
    z-index: 2;

    margin: 20px 0 50px 20px;
    width: 100%;

    &:hover {
        background: #fff;
        color: #333;
    }


    @media (max-width: $breakpoint-mobile) {
        margin-bottom: 20px;
        width: calc(100% - 40px);
    }

}

.new {
    li {
        font-size: 12px;
        //display: block;
        margin-bottom: 10px;
        //list-style-type: circle;
    }
}

.smaller {
    h2{
        font-size: 12px;
    }

    ul {
        li {
            font-size: 10px;
        }
    }
}