<div class="wrapper pink">
    <div class="main">
        <!-- <h1>Realtime Audio Reactive Experiences</h1> -->
        <h1>Audio Reactive Visuals For Streams</h1>
        <h2>
            Control realtime visuals in any OBS/Zoom live stream or event <strong>remotely</strong>
            or in-person.
        </h2>
        <h2>
            Create realtime audio reactive
            visualizations and experiences quickly and easily.
            Intended for VJs, DJs, Bands, Artists, Live Streams, Events, and Venues.
            <!-- Free visual composition tools for live events &amp; streams. Hey DJs, VJs, Artists, and Venues. -->
        </h2>
        <a routerLink="/download" class="download">GET IT NOW</a><Br>
        <!-- <a routerLink="/start" class="download">NEW LIVE STREAM TOOL</a><br> -->
    </div>
    <div class='macwrap'>
        <img src='../../assets/images/macbook.png' class='macbook' />
    </div>
    <div class="clearfix"></div>
</div>

<!-- <div class="content-wrapper dark" style="min-height: 150px !important; padding-bottom: 40px !important;">
    <div class="">
        <h3 class="center" style="font-size: 30px;">
            VISUALZ IS RECCOMENDED AND USED BY
        </h3>
        <div class="invert">
            <a href='https://www.opendoors.la/' target="_blank">
                <img src="../../assets/images/opendoors.png" />
            </a>
            <a href='https://burningman.org/' target="_blank">
                <img src="../../assets/images/burningman.png" />
            </a>
            <a href='https://kindling.burningman.org/' target="_blank">
                <img src="../../assets/images/kindling.png" />
            </a>
            <a href='https://www.jnktn.tv/' target="_blank">
                <img src="../../assets/images/jnktntv.png" />
            </a>
            <a href='https://www.youtube.com/channel/UCk7yZcoQFKGUWnyvF219LLw' target="_blank">
                <img src="../../assets/images/kaizen.png" />
            </a>
        </div>
    </div>
</div> -->

<div class="content-wrapper youtube">
    <iframe width="710" height="399" src="https://www.youtube.com/embed/UyZFcEHbCBM?rel=0&amp;controls=0"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>


<div class="content-wrapper dark">
    <div class="content-inner-wrapper">
        <div class="download-area">

            <img src="../../assets/images/icon.ico" class="ico" />

            <!-- <div *ngIf="deviceInfo.os == 'Mac' || deviceInfo.os == 'iOS'" class="clearfix"> -->
            <div class="clearfix">
                <img class="mac" src="../../assets/images/macos.png" />
                <a href="https://github.com/madchops1/visualz-releases/releases/download/v2.1.6/Visualz-2.1.6.dmg"
                    target="_blank" mat-raised-button (click)="downloadMac()" class="pink button">
                    Download Mac
                </a>
            </div>

            <!-- <div *ngIf="deviceInfo.os != 'Mac' && deviceInfo.os != 'iOS'" class="clearfix"> -->
            <div class="clearfix">
                <img class="windows" src="../../assets/images/windows.png" />
                <a href="https://github.com/madchops1/visualz-releases/releases/download/v2.1.6/Visualz-Setup-2.1.6.exe"
                    target="_blank" mat-raised-button (click)="downloadWindows()" class="pink button">
                    Download Windows
                </a>
            </div>

        </div>
        <div class="release-notes">
            <h1>VISUALZ v2.1.6</h1>

            <div class="">
                <h2>What's New in Version 2</h2>

                <!-- 8/28/20 -->
                <h2>Update 2.1.6</h2>
                <ul class='new'>
                    <li>Bugfixes across the board! Several official curated Burning Man Kindling projects have
                        recommended VISUALZ to the livestream artists performing during the event :) THANKS!</li>
                </ul>

                <!-- 7/17/20 -->
                <h2>Update 2.1.5</h2>
                <ul class='new'>
                    <li>Added dedicated Peer to Peer Servers for streaming to the browser, better integrating with OBS
                        and livestreaming functionality.</li>
                </ul>

                <!-- 7/17/20 -->
                <h2>Update 2.1.4</h2>
                <ul class='new'>
                    <li>Upgraded TURN (ICE) servers with relay and global availability for better streaming to the
                        browser, better integrating with OBS and livestreaming functionality.</li>
                </ul>

                <ul class='new'>
                    <li>OBS + Zoom Livestream Integration</li>
                    <li>Muptiple external windows/diplays.</li>
                    <li>Music Video Making.</li>
                    <li>Stream to browser.</li>
                    <li>Mobile device controller.</li>
                    <li>Control your audiences phone screen and flashlight.</li>
                    <li>Stream the visuals to audiences phones.</li>
                    <li>Updated smartphone remote control.</li>
                    <li>The audience can send selfies to the composition.</li>
                    <li>Added visual effects.</li>
                    <li>Updated camera features. Now with streaming mobile video support.</li>
                    <li>Updates to remote control.</li>
                    <li>Gif &amp; image search.</li>
                    <li>CC video library.</li>
                    <li>3d audio reactive visualizations.</li>
                    <li>Optimized beat detection.</li>
                    <li>Hotkeys.</li>
                    <li>Improved UI/UX.</li>
                    <li>Add music to tracks.</li>
                    <li>Optionally store media in the cloud.</li>
                    <li>Output resolution specification.</li>
                    <li>With permission collect connected audience mobile phone numbers.</li>
                    <li>Undo.</li>
                    <li>Much, much, more.</li>
                </ul>
                <div class="smaller">

                    <!-- 5/20/20 -->
                    <h2>Update 2.1.3</h2>
                    <ul class='new'>
                        <li>Bugfixes baby!</li>
                    </ul>

                    <!-- 5/20/20 -->
                    <h2>Update 2.1.2</h2>
                    <ul class='new'>
                        <li>Livestream enhancements.</li>
                        <li>Music video recorder.</li>
                        <li>Record &amp; reuse feature to create compund amalgamations.</li>
                        <li>Improved status UI.</li>
                        <li>Current beat and measure indicator.</li>
                        <li>New text effect: Sentences, but one word at a time with the beat.</li>
                        <li>New text effect: Strobe.</li>
                        <li>Text maximum size increased.</li>
                    </ul>

                    <!-- 5/9/20 -->
                    <h2>Update 2.1.1</h2>
                    <ul class='new'>
                        <li>General updates.</li>
                    </ul>

                    <!-- 5/7/20 -->
                    <h2>Update 2.1.0</h2>
                    <ul class='new'>
                        <li>Update to image overlay/mask fx.</li>
                        <li>Updates to FanCam.</li>
                        <li>UI/UX Improvements.</li>
                        <li>Added visuals main controller stream to FanCam.</li>
                        <li>Added turn ice servers for streaming better yo.</li>
                        <li>Added auto updates. So no more re-installing.</li>
                    </ul>

                    <!-- -->
                    <h2>Update 2.0.7</h2>
                    <ul class='new'>
                        <li>Major updates to FanCam mobile UI/UX.</li>
                        <li>$10 special on commercial licenses.</li>
                        <li>Added QR to remote screens for easy mobile sharing.</li>
                        <li>Streaming failure protection and auto-reconnect.</li>
                        <li>Added replicate track feature.</li>
                        <li>Update to beat triggers.</li>
                        <li>Update to thumbails overall.</li>
                        <li>Bugfix to MP4 thumbnail issue.</li>
                        <li>Bugfix to import gif issue.</li>
                        <li>Bugfix to remote control QR.</li>
                    </ul>

                    <!-- 4/21/20 -->
                    <h2>Update 2.0.6</h2>
                    <ul class='new'>
                        <li>Added Glitch Effect.</li>
                        <li>Added Replicate scene feature.</li>
                        <li>Added additional scene change triggers:</li>
                        <li>Beatx16, Beatx32, Beatx64</li>
                        <li>Bugfix to playback stopping when moving scenes sometimes.</li>
                        <li>Bugfix to media file open issue.</li>
                        <li>Bugfix to fx issue after moving scene to another track.</li>
                    </ul>

                    <!-- 
                    <h2>Update 2.0.5</h2>
                    <ul class='new'>
                        <li>Performace Improvement.</li>
                        <li>Windows Version Available.</li>
                    </ul> 
                    -->

                    <!-- 4/20/20
                    <h2>Update 2.0.4</h2>
                    <ul class='new'>
                        <li>Stream to browser enabled for free use. Allows for remote OBS/Zoom integration.</li>
                    </ul>
                    -->

                    <!-- 4/15/20
                    <h2>Update 2.0.3</h2>
                    <ul class='new'>
                        <li>Issue on computers with high resolutions.</li>
                        <li>Audio source selection bug</li>
                    </ul>
                    -->

                    <!-- 4/14/20
                    <h2>Update 2.0.2</h2>
                    <ul class='new'>
                        <li>Video library loading issue.</li>
                    </ul>
                    -->

                    <!-- 4/13/20
                    <h2>Update 2.0.1</h2>
                    <ul class='new'>
                        <li>Mac Version Available.</li>
                    </ul>
                    -->
                </div>
            </div>
        </div>
    </div>
</div>

<header class="skew">
    <h2>Features</h2>
</header>

<div class="content-wrapper white feature">
    <div class="content-inner-wrapper main-feature">
        <img src="../../assets/images/projection.jpg" />
        <div class="feature-text">
            <mat-icon aria-hidden="false" aria-label="FanCam" class="ico">volume_up</mat-icon>
            <h1>Audio Reactive</h1>
            <h2>FX, Transitioning, &amp; Visualizations to the beat of your music</h2>
            <div class="big-only">
                <p>
                    Visualz is a tool for easily creating visual compositions that automatically sync and change with
                    music in realtime.
                </p>
                <p>
                    Immediately make your event or live stream a better experience.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- <header class="skew white"></header> -->

<div class="content-wrapper white feature">
    <div class="content-inner-wrapper main-feature">
        <img src="../../assets/images/feature2.jpg" />
        <div class="feature-text">
            <mat-icon aria-hidden="false" aria-label="FanCam" class="ico">cast_connected</mat-icon>
            <h1>LiveStream Visualz + OBS/Zoom Integration</h1>
            <h2>Remote/Local visuals streaming sourced into OBS/Zoom</h2>
            <div class="big-only">
                <p>
                    Live stream host in New York and your DJs are in Seattle.
                    You need to inject and control live realtime audio reactive
                    visuals in the live stream but you're in Chicago... DO IT!
                </p>
            </div>
        </div>
    </div>
</div>

<!-- <header class="skew white"></header> -->

<div class="content-wrapper white feature">
    <div class="content-inner-wrapper main-feature">
        <img src="../../assets/images/crowdscreen.jpg" />
        <div class="feature-text">
            <mat-icon aria-hidden="false" aria-label="CrowdScreen" class="ico">mobile_screen_share</mat-icon>
            <h1>Mobile Controller</h1>
            <h2>Mobile device flashlight and screen control
                <br>(license required)</h2>
            <div class="big-only">
                <p>
                    The mobile controller is cutting-edge event tech.
                    Create amazing visual experiences by incorporating audience devices.
                </p>
                <p>
                    Another complicated and expensive process is now as easy as clicking a button.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- <header class="skew white"></header> -->

<div class="content-wrapper white feature">
    <div class="content-inner-wrapper main-feature">
        <img src="../../assets/images/crowdcam.jpg" />
        <div class="feature-text">
            <mat-icon aria-hidden="false" aria-label="FanCam" class="ico">camera_front</mat-icon>
            <h1>FanCam</h1>
            <h2>Audience selfies sent to the wall in real time, and audience data collection
                <br>(license required)</h2>
            <div class="big-only">
                <p>
                    The FanCam feature is revolutionary for the visuals space. Now your audience can interact by taking
                    a selfie. The image is then sent directly to the projection, wall, or live stream.
                </p>
                <p>
                    Another complicated and expensive process is now as easy as clicking a button.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- <header class="skew white"></header> -->

<div class="content-wrapper white feature">
    <div class="content-inner-wrapper main-feature">
        <img src="../../assets/images/feature3.jpg" />
        <div class="feature-text">
            <mat-icon aria-hidden="false" aria-label="FanCam" class="ico">view_compact</mat-icon>
            <h1>All The Screens</h1>
            <h2>Connect to all the screens locally and/or remotely</h2>
            <div class="big-only">
                <p>
                    Stream to external windows and the browser.
                    Distribute your visual setup.
                </p>
                <p>
                    Another complicated and expensive process is now as easy as clicking a button.
                    Support for even more advanced setups coming soon.
                </p>
            </div>
        </div>
    </div>
</div>

<header class="skew">
    <h2>More Features</h2>
</header>

<div class="content-wrapper dark">
    <div class="content-inner-wrapper">
        <ul class="big">
            <!-- <li>
                <mat-icon aria-hidden="false" aria-label="Audio-Reactive">equalizer</mat-icon>
                <h1>Audio Reactive</h1>
                <strong>Realtime</strong> beat/amplitude detection and <strong>audio reactive</strong> visual
                playback.
            </li> -->
            <li>
                <mat-icon aria-hidden="false" aria-label="Create Video Fast">view_module</mat-icon>
                <h1>Create Visuals Fast</h1>
                <strong>Quickly</strong> drag &amp; drop to <strong>compose</strong> visual sets of tracks with videos,
                other media, cameras, effects and more.
            </li>
            <li>
                <mat-icon aria-hidden="false" aria-label="Effects">flash_on</mat-icon>
                <h1>Effects</h1>
                The gamut of effects you'd expect, with some special sauce.
            </li>
            <li>
                <mat-icon aria-hidden="false" aria-label="Gif/Image Search">image_search</mat-icon>
                <h1>Gif/Image Search</h1>
                <strong>Gif</strong> &amp; image search lets you have access to millions of visuals for your set right
                now.
            </li>
            <li>
                <mat-icon aria-hidden="false" aria-label="Gif Heaven">video_library</mat-icon>
                <h1>CC Video Library</h1>
                A built in <strong>Creative Commons Video library</strong> gives you access to an evergrowing collection
                of great visuals.
            </li>
            <li>
                <mat-icon aria-hidden="false" aria-label="Mic">mic</mat-icon>
                <h1>Easy Input</h1>
                Use your computer's built-in microphone, external microphone, or line-in.
            </li>
            <li>
                <mat-icon aria-hidden="false" aria-label="Output">settings_input_hdmi</mat-icon>
                <h1>Easy Output</h1>
                Output to projectors, LED screens, mobile devices, displays of any kind.
            </li>
            <li>
                <mat-icon aria-hidden="false" aria-label="Mobile Video">important_devices</mat-icon>
                <h1>Mobile Video</h1>
                Use mobile devices as remote cameras to achieve multiple video streams and angles.
            </li>
            <li>
                <mat-icon aria-hidden="false" aria-label="Mobile Video">add_to_queue</mat-icon>
                <h1>Multiple Displays</h1>
                Easily create windows for multiple display support.
            </li>
            <li>
                <mat-icon aria-hidden="false" aria-label="Mobile Video">featured_video</mat-icon>
                <h1>Projection Mapping/Masking</h1>
                Mask out what you don't want to easily map projections to targets.
            </li>
            <li>
                <mat-icon aria-hidden="false" aria-label="Remote Control">settings_remote</mat-icon>
                <h1>Remote Control</h1>
                Que tracks from your mobile device with the remote control. Its super jiffy.
            </li>
            <li>
                <mat-icon aria-hidden="false" aria-label="Remote Screen">open_in_browser</mat-icon>
                <h1>Remote Screen</h1>
                Stream to the browser and display on remote screens.
            </li>
            <!--
            <li>
                <mat-icon aria-hidden="false" aria-label="Laserz">flash_on</mat-icon>
                <h1>Laserz</h1>
                Laserz feature integrates VISUALZ Laserz into your set.
            </li>
            -->
        </ul>
    </div>
    <div class='clearfix'></div>
</div>

<!--
<header>
    <button mat-button routerLink="/book"
        style="display:block; width: 200px; margin: 20px auto; color: #fff !important; font-size: 18px;">BOOK A
        DEMO</button>
</header>
-->
<!-- 
<header class="skew">
    <h2>Quick Setup</h2>
</header>
<div class="content-wrapper white">
    <img src="../../assets/images/simplefasteasy-mobile.jpg" style="display:block; max-width:300px; margin:0px auto;">
</div>
-->
<header class="skew big-only">
    <h2>How It Works</h2>
</header>
<div class="content-wrapper white">
    <div class="content-inner-wrapper">

        <div class="big-only">
            <app-htw
                style="margin:120px auto; background: #333; border-radius: 5px; display: block; box-shadow:0px 10px 60px 0px #aaa;">
            </app-htw>
        </div>
        <h2 class="center" style="line-height: 40px;">
            Ready to learn more?
            <br>
            <a routerLink="/how-it-works">Start Here</a>.
        </h2>


        <br><br><br>


        <!-- Begin Mailchimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
            #mc_embed_signup {
                clear: left;
                width: 100%;
            }

            /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
        	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>

        <h2 class="email-txt">
            New features, fx, and user requests are being added regularly.
            We're also working on user tutorials and more instructional material.
            Get notified about new releases and other updates.
        </h2>

        <div id="mc_embed_signup">
            <form #form
                action="https://dutchess.us7.list-manage.com/subscribe/post?u=81486f81685beb71289ee6fe1&amp;id=ea72b92f29"
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                    <input style="width:50vw; height:80px; display:block; margin: 0px auto; font-size:35px;"
                        type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address"
                        required>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                        <input type="text" name="b_81486f81685beb71289ee6fe1_ea72b92f29" tabindex="-1" value="">
                    </div>
                    <div class="clear">
                        <input type="submit" value="SUBSCRIBE" name="subscribe" id="mc-embedded-subscribe"
                            class="button mat-button" (click)="form.submit()"
                            style="clear: both; color:#333; height: 70px; font-size: 20px; margin-top: 20px; padding:20px;">
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- XCHANGE 
<header class="skew big-only">
    <h2>THE XCHANGE</h2>
</header>
<div class="content-wrapper white feature">
    <div class="content-inner-wrapper main-feature">
        <img src="../../assets/images/projection.jpg" />
        <div class="feature-text">
            <mat-icon aria-hidden="false" aria-label="XCHANGE" class="ico wide">store</mat-icon>
            <h1>THE XCHANGE</h1>
            <h2>Find visuals for your set</h2>
            <div class="big-only">
                <p>
                    The XCHANGE is where you find visual sets and tracks pre-made by vjs and artists
                    available to download and use immedeately.
                </p>
            </div>
        </div>
    </div>
</div>
<header class="skew white"></header>
-->

<!-- DISQUS
<header class="skew big-only">
    <h2>What Do You Want In v1.3.0 (the next version)</h2>
</header>
<div class="content-wrapper white feature">
    <div class="content-inner-wrapper main-feature">

        <div id="disqus_thread" style="margin:200px auto;"></div>
    </div>
</div>-->
<!-- Collaborators -->
<header class="skew">
    <h2>Collaborators</h2>
</header>
<div class="content-wrapper dark small-bottom collab">
    <div class="">
        <mat-card class="example-card" *ngFor="let item of collaborators">
            <mat-card-header>
                <mat-card-title>{{item.name}}</mat-card-title>
                <mat-card-subtitle>
                    {{item.type}}
                    <br>
                    {{item.location}}
                </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{item.image}}" alt="{{item.name}}">
            <mat-card-actions>
                <a href="{{item.link}}" target="_blank" mat-button>More Info</a>
            </mat-card-actions>
        </mat-card>

        <div class="clearfix"></div>

        <h2 class="collab">
            Interested in collaborating?
        </h2>
        <p class="center">
            The Visualz Team can and wants to do remote realtime visuals for your live streams.
        </p>
        <p class="center">
            Once live events are possible again we'd love to do live and remote visuals for those as well.
        </p>
        <p class="center">
            Contact visualzapp.contact@gmail.com to setup a demo or just talk about your visual needs as an artist.
        </p>
    </div>
</div>

<!--End mc_embed_signup-->

<!--
<header>
    <h2>Ground Level</h2>
</header>

<div class="content-wrapper">
    <div class='left'>

    </div>
    <div class='left'>
        <p>
            Get down with us on the ground level.
            VISUALZ is pretty dang new and we want to grow.
            VISUALZ is seeking artist partners, investors, and opportunities.
            Feel free to reach out. We really want to work with you.
        </p>
    </div>
    <div class='clearfix'></div>
</div>
-->