<div class="wrapper pink">
    <div class="main">
        <h1>Realtime Audio Reactive Graphics</h1>
        <h2>
            Free visual composition tools for live events &amp; streams. Hey DJs, VJs, Artists, and Venues.
        </h2>
        <a routerLink="/start" class="download">STREAM IN BROWSER</a>
        <a routerLink="/download" class="download">DOWNLOAD v1.2.2</a>
    </div>
    <div class='macwrap'>
        <img src='../../assets/images/macbook.png' class='macbook' />
    </div>
    <div class="clearfix"></div>
</div>

<!-- 
<div class="content-wrapper youtube">
    <iframe src="https://www.youtube.com/embed/ePmL8W_N1lA?rel=0&amp;controls=0" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div> -->

<header class="skew"></header>

<div class="content-wrapper dark">
    <div class="content-inner-wrapper">
        <div class="download-area">

            <img src="../../assets/images/icon.ico" class="ico" />

            <div *ngIf="deviceInfo.os == 'Mac'" class="clearfix">
                <a href="https://visualz-1.s3.us-east-2.amazonaws.com/Visualz-1.2.2.dmg" target="_blank"
                    mat-raised-button (click)="downloadMac()" class="pink button">
                    Download Free
                </a>
                <img class="mac" src="../../assets/images/macos.png" />
            </div>

            <div *ngIf="deviceInfo.os != 'Mac'" class="clearfix">
                <a disabled="disabled" mat-raised-button class="pink button">
                    Currently Unavailable
                </a>
                <img class="windows" src="../../assets/images/windows.png" />
            </div>

        </div>
        <div class="release-notes">
            <h1>VISUALZ</h1>
            <p>
                Visualz brings real-time audio responsiveness and video composition into one place to create great
                visuals that go to your music's beat. Whether
                you are a dj newb or a pro create visuals easily.
            </p>

            <div class="big-only">
                <h2>What's New in Version 1.2.2</h2>
                <ul>
                    <li>Released 9/27/2019 version 1.2.2 is the first time Visualz has been available for Mac OSx. Yay!
                    </li>
                    <li>Crowdscreen fan cam selfie feature is live.</li>
                    <li>Crowdscreen Link changed to just Crowdscreen.</li>
                    <li>Updates to remote control.</li>
                    <li>Gif optimizations.</li>
                    <li>Beat detection threshold changes.</li>
                </ul>

                <h2>Bug Fixes</h2>
                <ul>
                    <li>SMS number correction.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<header class="skew">
    <h2>Features</h2>
</header>

<div class="content-wrapper white feature">
    <div class="content-inner-wrapper main-feature">
        <img src="../../assets/images/projection.jpg" />
        <div class="feature-text">
            <mat-icon aria-hidden="false" aria-label="FanCam" class="ico wide">cast_connected</mat-icon>
            <h1>Graphics</h1>
            <h2>Visualizations to the beat of your music</h2>
            <div class="big-only">
                <p>
                    Visualz is a tool for creating visual compositions that automatically sync and change with music in
                    realtime.
                </p>
                <p>
                    Immediately make your event a better experience.
                </p>
            </div>
        </div>
    </div>
</div>

<header class="skew white"></header>

<div class="content-wrapper white feature">
    <div class="content-inner-wrapper main-feature">
        <img src="../../assets/images/crowdcam.jpg" />
        <div class="feature-text">
            <mat-icon aria-hidden="false" aria-label="FanCam" class="ico">camera_front</mat-icon>
            <h1>FanCam</h1>
            <h2>Audience selfies sent to the wall in real time</h2>
            <div class="big-only">
                <p>
                    The FanCam feature is revolutionary for the visuals space. Now your audience can interact by taking
                    a selfie.
                    The image is then sent directly to the projection or wall.
                </p>
                <p>
                    Until now this has been complicated and very expensive. Visualz makes it turn-key for free ;)
                </p>
            </div>
        </div>
    </div>
</div>

<header class="skew white"></header>

<div class="content-wrapper white feature">
    <div class="content-inner-wrapper main-feature">
        <img src="../../assets/images/crowdscreen.jpg" />
        <div class="feature-text">
            <mat-icon aria-hidden="false" aria-label="CrowdScreen" class="ico">mobile_screen_share</mat-icon>
            <h1>CrowdScreen</h1>
            <h2>Mobile device flashlight and screen control</h2>
            <div class="big-only">
                <p>
                    The CrowdScreen feature is cutting-edge technology for the lighting industry.
                    Create amazing visual experiences by incorporating hundreds and thousands of devices.
                </p>
                <p>
                    As with the FanCam this is usually complicated and expensive, requiring hardware. Visualz makes it
                    as easy as clicking a button. Still free.
                </p>
            </div>
        </div>
    </div>
</div>

<header class="skew">
    <h2>More Features</h2>
</header>

<div class="content-wrapper dark">
    <div class="content-inner-wrapper">
        <ul class="big">
            <li>
                <mat-icon aria-hidden="false" aria-label="Audio-Reactive">sync</mat-icon>
                <h1>Audio-Reactive</h1>
                <strong>Real-time</strong> beat/amplitude detection and <strong>audio-reactive</strong> visual
                playback.
            </li>
            <li>
                <mat-icon aria-hidden="false" aria-label="Create Video Fast">view_module</mat-icon>
                <h1>Create Video Fast</h1>
                <strong>Quickly</strong> drag &amp; drop to <strong>compose</strong> visual sets of tracks with videos,
                images, effects and more.
            </li>
            <li>
                <mat-icon aria-hidden="false" aria-label="Gif Heaven">gif</mat-icon>
                <h1>Gif Heaven</h1>
                <strong>Giphy</strong> integration lets you have access to millions of Gifs for your set right now.
            </li>
            <li>
                <mat-icon aria-hidden="false" aria-label="Mic">mic</mat-icon>
                <h1>Easy Input</h1>
                Use your built-in microphone or mic input.
            </li>
            <li>
                <mat-icon aria-hidden="false" aria-label="Output">all_out</mat-icon>
                <h1>Easy Output</h1>
                Output to projector, tvs, LED screens, lighting hardware, mobile devices, and more.
            </li>
            <!-- 
            <li>
                <mat-icon aria-hidden="false" aria-label="RemoteCam">linked_camera</mat-icon>
                <h1>RemoteCam</h1>
                Use mobile devices as remote cameras to achieve multiple video streams and angles.
            </li> -->
            <li>
                <mat-icon aria-hidden="false" aria-label="FanCam">settings_remote</mat-icon>
                <h1>Remote Control</h1>
                Que tracks from your mobile device with the remote control. Its super jiffy.
            </li>
            <!--
            <li>
                <mat-icon aria-hidden="false" aria-label="Laserz">flash_on</mat-icon>
                <h1>Laserz</h1>
                Laserz feature integrates VISUALZ Laserz into your set.
            </li>
            -->
        </ul>
    </div>
    <div class='clearfix'></div>
</div>

<!--
<header>
    <button mat-button routerLink="/book"
        style="display:block; width: 200px; margin: 20px auto; color: #fff !important; font-size: 18px;">BOOK A
        DEMO</button>
</header>
-->
<!-- 
<header class="skew">
    <h2>Quick Setup</h2>
</header>
<div class="content-wrapper white">
    <img src="../../assets/images/simplefasteasy-mobile.jpg" style="display:block; max-width:300px; margin:0px auto;">
</div>
-->
<header class="skew big-only">
    <h2>How It Works</h2>
</header>
<div class="content-wrapper white">
    <div class="content-inner-wrapper big-only">
        <app-htw style="margin:120px auto; display: block; box-shadow:0px 10px 60px 0px #aaa;"></app-htw>
    </div>
</div>

<!-- XCHANGE 
<header class="skew big-only">
    <h2>THE XCHANGE</h2>
</header>
<div class="content-wrapper white feature">
    <div class="content-inner-wrapper main-feature">
        <img src="../../assets/images/projection.jpg" />
        <div class="feature-text">
            <mat-icon aria-hidden="false" aria-label="XCHANGE" class="ico wide">store</mat-icon>
            <h1>THE XCHANGE</h1>
            <h2>Find visuals for your set</h2>
            <div class="big-only">
                <p>
                    The XCHANGE is where you find visual sets and tracks pre-made by vjs and artists
                    available to download and use immedeately.
                </p>
            </div>
        </div>
    </div>
</div>
<header class="skew white"></header>
-->

<!-- DISQUS
<header class="skew big-only">
    <h2>What Do You Want In v1.3.0 (the next version)</h2>
</header>
<div class="content-wrapper white feature">
    <div class="content-inner-wrapper main-feature">

        <div id="disqus_thread" style="margin:200px auto;"></div>
    </div>
</div>-->

<header class="skew">
    <h2>Collaborators</h2>
</header>
<div class="content-wrapper dark small-bottom">
    <div class="">

        <mat-card class="example-card" *ngFor="let item of collaborators">
            <mat-card-header>
                <mat-card-title>{{item.name}}</mat-card-title>
                <mat-card-subtitle>{{item.type}} [{{item.location}}]</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{item.image}}" alt="{{item.name}}">
            <mat-card-actions>
                <a href="{{item.link}}" target="_blank" mat-button>More Info</a>
            </mat-card-actions>
        </mat-card>

        <div class="clearfix"></div>
    </div>
</div>

<!--
<header>
    <h2>Ground Level</h2>
</header>

<div class="content-wrapper">
    <div class='left'>

    </div>
    <div class='left'>
        <p>
            Get down with us on the ground level.
            VISUALZ is pretty dang new and we want to grow.
            VISUALZ is seeking artist partners, investors, and opportunities.
            Feel free to reach out. We really want to work with you.
        </p>
    </div>
    <div class='clearfix'></div>
</div>
-->