$breakpoint-mobile: 768px;


.menu {

    display: none;
    color: #fff;
    position: relative;
    z-index: 3;

    @media (max-width: $breakpoint-mobile) {
        display: block;
        float: right;
    }

    button {
        color: #fff;
    }
}

.mobile-menu {
    width: 100vw;
    height: 100vh;
    background: #e91e63;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;

    button {
        color: #fff;
        width: 100vw;
        padding-top: 40px;
        padding-bottom: 40px;

    }
}