<header>
    <a routerLink="/" class="logo">VISUALZ</a>
    <div class="nav">
        <!--<div>
            VISUALZ is coming soon. Email karl.steltenpohl [at] gmail.com for information or early access.
        </div>-->
        <!--<a routerLink="/filter">Filter</a>-->

        <a routerLink="/">HOME</a>
        <a routerLink="/download">DOWNLOAD FREE</a>
        <a routerLink="/prices">PRICES</a>
        <a routerLink="/support">SUPPORT</a>
        <a routerLink="/how-it-works">HOW IT WORKS</a>

    </div>
    <div class="clearfix"></div>
</header>

<router-outlet></router-outlet>

<footer>

    <a routerLink="/support">Support</a> |
    <a routerLink="/how-it-works">How It Works</a> |
    <a routerLink="/terms-conditions">Terms &amp; Conditions</a> |
    <a routerLink="/privacy-policy">Privacy Policy</a> |
    <a href="https://www.instagram.com/visualzapp/" target="_blank">Instagram</a>
    <!--
    <a routerLink="/artist-partners">Artist Partnership</a> |
    <a routerLink="/venue-partners">Venue Partnership</a> |
    <a routerLink="/investors">Investors</a> |
    <a routerLink="https://www.instagram.com/visualzapp/">Instagram</a>
    -->
    <br>
    &copy; VISUALZ Copyright 2019. All Rights Reserved.
    <br>
    Created By: karl.steltenpohl [at] gmail.com
</footer>