<div *ngIf="!interactive" class="msg">
    VISUALZ 2.0.0 is coming in April with more features, fx, screens, &amp; streams!
</div>
<header *ngIf="!interactive">
    <a routerLink="/" class="logo">VISUALZ</a>
    <div class="nav">
        <!--<div>
            VISUALZ is coming soon. Email karl.steltenpohl [at] gmail.com for information or early access.
        </div>-->
        <!--<a routerLink="/filter">Filter</a>-->

        <button mat-button routerLink="/">HOME</button>
        <button mat-button routerLink="/start">STREAM</button>
        <button mat-button routerLink="/download">DOWNLOAD FREE</button>

        <!-- <button mat-button routerLink="/prices">PRICES</button> -->

        <!-- <button mat-button [matMenuTriggerFor]="menu2">MARKET</button>
        <mat-menu #menu2="matMenu">
            <button mat-menu-item routerLink="/xchange">BROWSE SETS &amp; TRACKS</button>
            <button mat-menu-item routerLink="/create">CREATE &amp; PUBLISH</button>
        </mat-menu> -->

        <!-- 
        <button mat-button [matMenuTriggerFor]="menu1">ABOUT</button>
        <mat-menu #menu1="matMenu">
            <button mat-menu-item routerLink="/about">ABOUT</button>
            <button mat-menu-item routerLink="/events">EVENTS</button>
            <button mat-menu-item routerLink="/investors">INVESTORS</button>
        </mat-menu> -->

        <!--
        <a routerLink="/support">SUPPORT</a>
        <a routerLink="/how-it-works">HOW IT WORKS</a>
        -->
        <button mat-button [matMenuTriggerFor]="menuT">TOOLS</button>
        <mat-menu #menuT="matMenu">
            <button mat-menu-item routerLink="/start">LIVE STREAM</button>
            <button mat-menu-item routerLink="/mp4-converter">GIF TO MP4 CONVERTER</button>
            <!-- <button mat-menu-item routerLink="/movie">MUSIC VIDEO CREATOR</button> -->
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="menu">HELP</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/how-it-works">START HERE</button>
            <button mat-menu-item routerLink="/resources">RESOURCES</button>
            <button mat-menu-item routerLink="/support">COMMUNITY</button>
            <button mat-menu-item>visualzapp.contact@gmail.com</button>
        </mat-menu>

        <!-- <button href="mailto:visualzapp.contact@gmail.com" mat-button>CONTACT</button> -->

        <!-- 
        <button mat-raised-button class="btn btn-primary btn-margin" *ngIf="!auth.loggedIn" (click)="auth.login()">
            LOG IN
        </button>

        <button mat-button [matMenuTriggerFor]="menu3" *ngIf="auth.loggedIn" class="btn btn-primary btn-margin">
            <img [src]="auth.userProfile$.source._value.picture" /> {{ auth.userProfile$.source._value.given_name }}
        </button>
        <mat-menu #menu3="matMenu">
            <button mat-menu-item routerLink="/profile">ACCOUNT</button>
            <button mat-menu-item (click)="auth.logout()">LOGOUT</button>
        </mat-menu> -->

    </div>
    <div class="clearfix"></div>
</header>

<router-outlet></router-outlet>

<footer *ngIf="!interactive">
    <!-- <a routerLink="/about">About</a> &nbsp;&nbsp;|&nbsp;&nbsp; -->
    <!-- <a routerLink="/events">Events</a> &nbsp;&nbsp;|&nbsp;&nbsp; -->
    <a routerLink="/">Home</a> &nbsp;&nbsp;|&nbsp;&nbsp;
    <a routerLink="/start">Stream</a> &nbsp;&nbsp;|&nbsp;&nbsp;
    <a routerLink="/how-it-works">Help</a> &nbsp;&nbsp;|&nbsp;&nbsp;
    <a routerLink="/support">Community</a> &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="https://www.instagram.com/visualzapp/" target="_blank">Instagram</a> &nbsp;&nbsp;|&nbsp;&nbsp;
    <a routerLink="/terms-conditions">Terms &amp; Conditions</a> &nbsp;&nbsp;|&nbsp;&nbsp;
    <a routerLink="/privacy-policy">Privacy Policy</a> &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="mailto:visualzapp.contact@gmail.com">visualzapp.contact@gmail.com</a>
    <!--
    <a routerLink="/artist-partners">Artist Partnership</a> |
    <a routerLink="/venue-partners">Venue Partnership</a> |
    <a routerLink="/investors">Investors</a> |
    <a routerLink="https://www.instagram.com/visualzapp/">Instagram</a>
    -->
    <br>
    &copy; VISUALZ Copyright 2019-2020. All Rights Reserved.
    <br>
    Current v1.2.2
    <br>
    Created by <a href="https://karl.pb.studio" target="_blank">Karl</a>
</footer>