<mat-drawer-container class="marketplace-container" [hasBackdrop]="hasBackdrop.value">
    <mat-drawer #drawer [mode]="mode.value" class="drawer">I'm a drawer</mat-drawer>
    <mat-drawer-content class="main-content">

        <h2>MARKETPLACE</h2>
        <p>Welcome to the VISUALZ MARKETPLACE. Here artists sell their graphic packs. Plus all packs are audio-reactive
            and ready to use in your event or live-stream right now.</p>

        <div class="flex-container">
            <!-- <div *ngFor="let key of objectKeys(track.modules[editingModule].settings)"> -->

            <!-- <div *ngFor="let pack of packs" class="marketplace-grid">

            </div> -->

        </div>

        <button mat-fab color="primary" class="add" click="openAddDialog()"
            aria-label="Upload your own graphics into VISUALZ MARKETPLACE PACKS.">
            <mat-icon>add</mat-icon>
        </button>

        <mat-form-field>
            <mat-label>Sidenav mode</mat-label>
            <mat-select #mode value=" side">
                <mat-option value="side">Side</mat-option>
                <mat-option value="over">Over</mat-option>
                <mat-option value="push">Push</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Has backdrop</mat-label>
            <mat-select #hasBackdrop>
                <mat-option>Unset</mat-option>
                <mat-option [value]="true">True</mat-option>
                <mat-option [value]="false">False</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>
    </mat-drawer-content>
</mat-drawer-container>