.marketplace-container {
    font-size: 16px;
    min-height: 100vh;
}

.drawer {
    padding: 40px 20px;
}

.main-content {
    padding: 40px 20px;
    position: relative;
}

.add {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.mat-drawer-container {
    margin-bottom: 20px;
}

.search {
    width: 50vw;
    height: 80px;
    font-size: 50px;
    line-height: 50px;
    margin: 0px auto;
    border-radius: 6px;
    display: block;
}

.advanced {
    position: absolute;
    top: 10px;
    left: 10px;
}