/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

$breakpoint-mobile: 768px;

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #333;
    color: #333;
    overflow-x: hidden;
    font-size: 1px;
}

gridster .gridster-row, gridster .gridster-column {
    border: 0px !important;
    background: rgba(0,0,0, 0.3);
}

gridster {
    background: #333 !important;
    box-shadow: inset 0px 0px 5px -1px #000000 !important;
}

.dark-snackbar {
    background-color: #333333;
    color: #e91e63;
}

.green-snackbar {
    background-color: #abe026;
    color: #000;
}

.msg {
    display: block;
    text-align: center;
    background-color: #333;
    color: #e91e63;
    padding: 10px;
    letter-spacing: 2px;
    font-size: 13px;

    a {
        color: #fff;
        text-decoration: underline;
    }
}

h1 {
    margin-bottom: 40px;
    
    @media (max-width: $breakpoint-mobile) {
        line-height: 42px;
    }
}

h2 {
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
} 

h3 {
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: left;
    font-size: 40px;
    line-height: 30px;
}

.email-txt {
    line-height: 30px; 
    font-size: 14px;

    @media (max-width: $breakpoint-mobile) {

    }
}

p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.pink {
    background-color: #e91e63;
    color: #fff;
}

.pink-text {
    color: #e91e63 !important;
}

.invert {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    margin: 0px auto;

    a {
        justify-content: center;
    }
    
    @media (max-width: $breakpoint-mobile) {
        a {
            margin: 0px auto;
            width: 200px;
            display: block;
        }
    }

    img {
        filter: invert(1);
    }
}

.interactive-wrapper{
    //background-color: #e91e63;
    width: 100%;
    height: 100%;
    display: block;
}

.wrapper {
    min-height: 500px;
    //background: url(assets/images/main.gif);
    //background-size: cover;
    
    //background-position: bottom center;
    //background-repeat: no-repeat;
    background:#fff;
    //text-shadow: 0px 2px 3px #000;
    color: #333;
    text-align: center;
    letter-spacing: 3px;
    padding-top: 2%;

    &.pink {
        background-color: #e91e63;

        a {
            color: #fff;
            font-size: 20px;
            background: #333;
            text-decoration: none;
            padding: 10px;
            margin-top: 10px;
            float: left;

        }
        padding-bottom: 20px !important;
    }
    
    .macwrap {
        width: calc(60% - 40px);
        float: left;

        @media (max-width: $breakpoint-mobile) {
            float: none;
        }

        .macbook {
            //width: 90%;
            //margin: 0px auto;
            //display: block;
            float: left;

            @media (max-width: $breakpoint-mobile) {
                width: 375px;
                margin-top: 40px;
                margin-left: 0px;
                margin-bottom: 40px;
                float:none;
            }
        }
    }
    
    .main {
        //background: rgba(0, 0, 0, 0.5);
        //padding: 40px;
        //max-width: 600px;
        //margin: 0 auto;
        //margin:100px auto 0px auto;
        text-align: left;
        padding: 0 20px;
        width: 40%;
        float: left;
        position: relative;
        z-index: 1;

        @media (max-width: $breakpoint-mobile) {
            width: 100%;
            float: none;
        }

        h1 {
            font-size: 75px;
            margin: 40px 0 0 0px;
            //text-shadow: 0 0 10px #ff4c89;

            @media (max-width: $breakpoint-mobile) {
                font-size: 50px;
                line-height: 55px;
            }

        }

        h2 {
            text-transform: none;
            text-align: left;
            font-size: 17px;
            line-height: 20px;

            strong {
                font-weight: bolder;
                font-size: 20px;
            }

            @media (max-width: $breakpoint-mobile) {
                font-size: 17px;
                
            }
        }

        a {

            display: inline-block;
            float: none;

        }
    }

    button {
        background-color: #e91e63;
        color: #fff;
        margin: 10px;
    }
}

.center {
    text-align: center;
}

.collab {
    line-height: 30px;

    @media (max-width: $breakpoint-mobile) {
        font-size: 15px;
    }
}

.content-inner-wrapper {
    max-width: 800px;
    margin: 0px auto;
    display: block;
}

p {
    a {
        color: #e91e63;
        
    }
}

.content-wrapper {
    padding: 100px 40px 140px;
    overflow-x: hidden;
    //background-color: #fff;
    min-height: calc(100vh - 288px);

    &.collab {
        @media (max-width: $breakpoint-mobile) {
            padding-left: 0px;
            padding-right: 0px;
        }
    }

    &.small-bottom {
        padding-bottom: 80px;
        padding-top: 140px;
    }

    &.feature {
        padding: 60px 40px 10px;
        overflow: hidden;

        @media (max-width: $breakpoint-mobile) {
            padding: 60px 40px 0px !important;
            min-height: calc(100vh - 537px) !important;

        }
    }

    &.normal {
        padding: 40px;

        p {
            color: #fff;
        }
                
        h1 {
            font-size: 30px;
            margin-top: 40px;
            margin-bottom: 40px;
            line-height: 54px;
            color: #fff;
            text-transform: none;
        }

        h2 {
            text-align: center;
            color: #fff;
            font-size: 20px;
            margin-bottom: 40px;
            margin-top: 40px;
            text-transform: none;
        }

        h3 {
            text-align: center;
            color: #fff;
            font-size: 16px;
            margin-bottom: 40px;
            margin-top: 40px;
            text-transform: none;

        }

        

    }

    color: #333;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;

    &.white {
        background-color: #fff;
    }

    &.youtube {
        padding: 0px;

        iframe {
            width: 60%;
            //height: 600px;
            position: relative;
            display: block;
            margin: 0 auto;
        }
    }

    .main {
        width: 300px;
        margin: 0px auto;
        
    }

    ul.big {
        padding: 0px;
        margin: 0px; 

        li {
            margin: 80px 40px;
            font-size: 20px;
            line-height: 40px;
            display: block;
            width: calc(50% - 80px);
            float: left !important;
            height: 300px;
            text-align: center;

            h1 {
                line-height: 60px;
                margin: 0px;
                font-size: 32px;
                //letter-spacing: -1px;
                //white-space: nowrap;
            }

            @media (max-width: $breakpoint-mobile) {
                width: 100%;
                height: auto;
                margin: 80px 0px;
            }

            mat-icon {
                display: block;
                margin: 0px auto;
                width: 140px;
                height: 130px;
                color: #e91e63;
                font-size: 140px;
                margin-bottom: 20px;
            }
        }
    }

    &.dark {
        background-color: #333 !important;
        color: #fff;        
    }

    mat-card {
        width: calc(19% - 65px);

        @media (max-width: $breakpoint-mobile) {
            width: calc(100% - 70px);
        }

        .mat-card-header-text {
            margin: 0px !important;

            mat-card-title {
                font-size: 11px;
                margin-bottom: 4px;
                white-space: nowrap;
            }

            mat-card-subtitle {
                font-size: 10px;
                line-height: 10px;
                margin-top: -5px !important;
                white-space: nowrap;
            }
        }



        //width: 300px;
        float: left;
        //margin: 10px;
        margin: 0 20px 40px 20px;
        //height: 500px;

        a {
            margin: 0px auto;
            color: #fff;
            display: block;
            background-color: #e91e63;

            .mat-button-wrapper {
                font-size: 11px; 
                font-weight: normal;
            }
        }
    }

    .left {
        float: left;

    }
}

.clearfix {
    clear:both;
    display: block;
}


footer{
    color: #ccc;
    text-align: center;
    padding: 20px 20px 20px 20px;
    font-size: 10px;
    line-height: 20px;
    background-image: url(https://media3.giphy.com/media/Z4ITmGFsXV19C/giphy.gif?cid=ecf05e4708fb976853e5ae8bf08f47f9d64c57c7f529edee&rid=giphy.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 4000%;
    background-position: bottom;
    margin-top: -20px;
    position: relative;
    z-index: 0;

    a { color: #fff; text-decoration: none; }

    
    .gradient {
        width: 100%;
        position: absolute;
        height: 140px;
        background-image: url(assets/images/footer-bg.png);
        z-index: 1;
        left: 0px;
        top: 0px;
    }

    .sec {
        position: absolute;
        bottom: 10px;
        left: 10px;
        z-index: 3;

        @media (max-width: $breakpoint-mobile) {
            display: none;
        }

        a {
            display: block;
            margin: 10px 0px 0;
            height: 35px;
            padding: 0px;
            opacity: 0.6;
            border-radius: 4px;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    .copy {
        position: absolute;
        bottom: 10px;
        right: 10px;
        text-align: right;
        z-index: 3;

        @media (max-width: $breakpoint-mobile) {
            display: none;
        }

        a { color: #fff; }
    }

    .links {
        position: relative;
        z-index: 2;
    
        a {
            color: #fff;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

header {

    background-color: #e91e63;
    padding: 20px;
    position: relative;
    z-index: 1;


    &.skew {
        //transform: skewY(-2deg);
        margin-top: -30px;
        margin-bottom: -30px;
    }

    &.right {
        width: calc(50% - 40px);
        float: right;
    }

    &.dark {
        background-color: #333;
    }

    &.white {
        background-color: #fff;
    }
    

    a.logo {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 40px;
        float: left;

        span {
            font-size: 16px;
        }
    }

    .nav {
        float: right;
        margin-top: 7px;

        @media (max-width: $breakpoint-mobile) {
            display: none;
        }

        div {
            //color: #cccccc;
            //font-size: 12px;
            //width: 300px;
            //margin-top: 10px;
        }

        a, button {
            color: #333;
            //display: inline-block;
            //text-decoration: none;
            //font-size: 14px;
            //margin: 10px 0px 0px 0px;
            //padding: 20px;
            text-decoration: none;
        }

        .mat-raised-button {
            color: #fff !important; 
            padding: 0px 10px;
            margin-left: 10px;
        }

        .btn-margin {
            margin-right: 20px;
        }

        .mat-button {
            padding: 0px 10px;

            img {
                width: 30px;
                height: 30px;
                border-radius: 15px;
            }
            a {
                text-decoration: none;
            }
        }
    }

    h2 {
        color: #333;
        font-size: 20px;
    }

    h3 {
        font-size: 15px;
        margin-top: -30px;
        margin-bottom: 20px;
        text-align: center;
    }
}


mat-slider {
    width: 100%;
}

mat-basic-audio-player {
    margin-top: 10px;
    display: block;
}

.wrapper {
    mat-card {
        margin-bottom: 10px;
    }
}

.filterButton {
    margin: 20px;
    //width: 100%;
    //padding: 20px;
    //font-size: 30px;
}


.example-list {
  width: 1000px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 10px;
}

.example-box {
  padding: 20px 10px;
  border-right: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;

  video {
      width: 100px;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-card-header .mat-card-title {
    white-space: nowrap;
}

.mat-card-image {
    margin-bottom: -5px !important;
}

img {
    &.rounded {
        border-radius: 4px;
    }
}

.big-only {
    @media (max-width: $breakpoint-mobile) {
        display: none;
    }
}

.download-area {
    float: left;
    width: calc(50% - 40px);
    padding-right: 40px;

    a {
        font-size: 12px;
        clear: both;
        float: right;
    }

    .ico {
        width: 140px;
        overflow: hidden;
        //border-radius: 10px;
        margin: 20px 0px 25px;
        float: right;

        @media (max-width: $breakpoint-mobile) {
            margin-bottom: 40px !important;
        }
    }

    img {
        float: right;
        clear: both;
    }

    @media (max-width: $breakpoint-mobile) {
        float: none;
        width: 100%;
        padding: 0px;

        a {
            font-size: 12px;
            clear: both;
            float: none;
            display: block;
            margin: 40px auto;
        }

        .ico {
            float: none;
            margin: 0px auto;
            display: block;
        }

        img {
            float: none;
            margin: 0px auto;
        }
    }
}

.release-notes {
    float: left;
    width: calc(50%);

    h1 {
        font-size: 40px;
        line-height: 40px;
        text-align: left;
    }

    h2 {
        font-size: 16px;
        text-align: left;
        color: rgb(202, 202, 202);
        margin-bottom: 0px;
    }

    ul {
        margin: 20px 0 20px -25px;
    }

    @media (max-width: $breakpoint-mobile) {
        float: none;
        width: 100%;
    }
}

.main-feature {

    margin-top: -100px;
    margin-bottom: -100px;


    @media (max-width: $breakpoint-mobile) {
        margin-top: -32px;
        margin-bottom: -32px;
    }

    img {
        float: right;
        width: calc(50% + 400px);
        margin-right: -400px;
        //margin-bottom: -80px;
        //transform: skewY(-2deg);
    
        @media (max-width: $breakpoint-mobile) {
            float: none;
            width: calc(100% + 80px);
            margin: 0 0 0 -40px;
        }
    }
}

.feature-text {
    float: right;
    text-align: right;
    width: calc(50% - 40px);
    padding-right: 40px;
    margin-top: 100px;

    @media (max-width: $breakpoint-mobile) {
        float: none;
        width: calc(100% - 80px);
        padding: 40px 10px;
        right: -110px;
        margin-top: -320px;
        text-align: center;
        position: relative;
        z-index: 0;
        background:rgba(255,255,255,0.75);

    }

    h1 {
        font-size: 40px;
        text-align: right;
        clear: both;
        margin-bottom: 10px;
        line-height: 45px;
        @media (max-width: $breakpoint-mobile) {
            font-size: 30px;
            line-height: 30px;
            text-align: center;
            margin-top: 60px;
            margin-bottom: 10px;
        }
    }

    h2 {
        font-size: 18px;
        text-align: right;
        line-height: 24px;
        margin-bottom: 20px;
        margin-top: 10px;
        @media (max-width: $breakpoint-mobile) {
            text-align: center;
            line-height: 20px;
            font-size: 16px;
            margin-top: 0px !important;
        }
    }

    mat-icon {
        display: block;
        width: 150px;
        height: 150px;
        color: #333;
        font-size: 150px;
        margin-bottom: 0px;
        float: right;

        &.wide {
            margin-right: 13px;
        }

        @media (max-width: $breakpoint-mobile) {
            margin: 0px auto -50px auto;
            float:none;
            width: 90px;
            height: 90px;
            font-size: 90px;
        }
    }

}

.windows {
    height: 80px;
    display: block;
    margin: 25px auto;

    //filter: grayscale(100%);

    @media (max-width: $breakpoint-mobile) {
        height: calc(60px);
    }
}

.mac {
    height: 80px;
    display: block;
    margin: 25px auto;
}

 