.buttons {
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;

    button {
        float: left;
        margin-top: 10px;
        margin-left: 10px;
    }
}

#waveform {
    height: 64px;
    width: 200px;
    //float: right;
    position: fixed;
    right: 0px;
    z-index: 1;
    background-color: #111;
    //cursor: pointer;

    canvas {
        position: fixed;
        right: 0px;
    }
}

mat-toolbar {
    position: absolute;
    z-index: 2;
    bottom: 100px;
}

.renderer-container {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;

    // display: flex;
    // justify-content: center;
    // align-items: center;
}

.mod-wrapper {
    background: #333;
    width: 100vw;
    height: 100px;
    position: absolute;
    bottom: 0px; 

}

.modules {
    width: 100%;
    height: 100px;

}

gridster .gridster-row, gridster .gridster-column {
    border: 0px !important;
    background: rgba(0,0,0, 0.3);
}

gridster {
    background: #333 !important;
    box-shadow: inset 0px 0px 5px -1px #000000 !important;
}

.webcam-video {
    position: absolute;
    z-index: 2;
    width: 1px;
    height: 1px;

}