<!-- <div class="content-wrapper dark">
    <div class="content-inner-wrapper" *ngIf="auth.userProfile$ | async as profile">
        <div class="download-area">
            <img src="{{ profile.picture }}" class="ico" />
        </div>
        <div class="release-notes">
            <h1>{{ profile.given_name }} {{ profile.family_name }}</h1>


            <pre *ngIf="auth.userProfile$ | async as profile">
            <code>{{ profile | json }}</code>
            </pre>

        </div>
    </div>
</div> -->