<div class="content-wrapper normal djgif">
    <div class="content-inner-wrapper center dark">

        <h1 class="center bigs">Start a Quaranstream</h1>

        <p>
            Stay safe &amp; be smart out there. These are troubling times.
        </p>
        <p>
            Use this live stream tool for free to reach your friends, fans, and family with your music.
        </p>
        <p>
            As expected there are audio-reactive visuals you can control on your stream.
        </p>
        <br>

        <form class="example-form" name="form1">
            <mat-form-field class="example-full-width">
                <mat-label>Set Name</mat-label>
                <input matInput required class="inputy" placeholder="Ex. Sam's Set" [(ngModel)]="label" name="label"
                    value="">
            </mat-form-field>
            <br><Br>
            <button (click)="start()" mat-raised-button class="pink button bigtext">
                Start Streaming
            </button>
        </form>

    </div>
</div>

<header class="skew big-only">
    <h2>BROWSE QUARANSTREAMS</h2>
    <small>*Streams are removed after 24 hours.</small>
</header>
<div class="content-wrapper white feature">
    <div class="flex-container">
        <!-- <div *ngFor="let key of objectKeys(track.modules[editingModule].settings)"> -->

        <a *ngFor="let room of rooms" class="rooms-grid" [hidden]="!room.label || room.label == ''">
            <h3>{{room.label}}</h3>
            <p>{{objectKeys(room.guests).length}} Total Watchers</p>
            <img src="https://robohash.org/{{room.host}}?set=set5"
                [ngClass]="{'grayscale': !room.live, 'grayscale': room.live == 'false'}" />
            <button mat-raised-button class="pink button" *ngIf="room.live && room.live == 'true'"
                routerLink="/live/{{room.name}}">Watch</button>
            <button mat-raised-button class="pink button" *ngIf="!room.live || room.live == 'false'" disabled>Off
                Air</button>
        </a>

    </div>
</div>