$breakpoint-mobile: 768px;

.djgif {
    background-image: url(https://media3.giphy.com/media/Z4ITmGFsXV19C/giphy.gif?cid=ecf05e4708fb976853e5ae8bf08f47f9d64c57c7f529edee&rid=giphy.gif);
    background-size: cover;
    background-repeat: no-repeat;
}

.purple {
    margin-bottom: 40px !important;
    background: rgba(183,87,255,0.9) !important;
    padding: 20px !important;

    h2 {
        color: #fff;
        font-size: 55px;
        line-height: 55px;
        margin-bottom: 20px;
    }

    p {
        color: #fff !important;

        a {
            color: #fff;
        }
    }
}

.blue {
    background: rgba(0, 196, 255, 0.9) !important;
    margin-bottom: 40px !important;
    padding: 20px !important;

    h2 {
        color: #333;
        font-size: 55px;
        line-height: 55px;
        margin-bottom: 20px;
    }

    p {
        color: #333 !important;
    }

    @media (max-width: $breakpoint-mobile) {


    }
}


.green {
    background: rgba(180, 255, 94, 0.8) !important;
    margin-bottom: 40px !important;
    padding: 20px !important;

    h2 {
        color: #333;
        font-size: 55px;
        line-height: 55px;
        margin-bottom: 20px;
    }

    p {
        color: #333 !important;
    }

    @media (max-width: $breakpoint-mobile) {


    }
}


.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.rooms-grid {
    //float: left;
    margin: 20px;
    width: 70vw;
    //height: 160px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    cursor: pointer;
    position: relative;
    padding: 20px;
    border: 15px solid #ff0042;
    text-decoration: none;
    
    &.rooms {
        border: 0px;
        width: 20vh;
    }

    &.skins {
        border: 0px;
        width: 50vh;
        padding: 0px;
        background-color: #9be91e !important;
        
        @media (max-width: $breakpoint-mobile) {
            width: 90vw;
        }

        img {
            position: relative;
            top: 0px !important;
            left: 0px !important;
            width: 100% !important;
            height: 100% !important;
        }
    }

    @media (max-width: $breakpoint-mobile) {
        width: 90vw;
    }

    &:hover {
    background: #333;
        cursor: pointer;
    }

    h3 {
        display: block;
        margin: 20px auto;
        font-size:20px;
        line-height: 25px;
        text-align: center;
        

    }

    p { text-align: center; }

    button {
        display: block;
        margin: 0px auto;
        width: 80px;
    }

    img {
        position: absolute;
        width: 100px;
        bottom: 0px;
        right: 10px;

        &.grayscale {
            filter: grayscale(100%);
        }
    }

}

.bigs {
    font-size: 50px !important;
    margin: 0px;
}

.nums {
    color: #fff;
    padding: 20px;
}

.bigtext {
    font-size: 30px;
    text-transform: uppercase;
    padding: 20px;
}

.dark {
    background-color: rgba(0,0,0,0.6);
    padding: 40px;

    @media (max-width: $breakpoint-mobile) {
        //background-color: none !important;
        padding: 0px !important;
    }
}

.white {
    background: #fff;
}

input {
    color: #fff;
}

a.button {
    color: #ffffff !important;
}

.bordered {

    &.one {
        text-align: right;
    }

    &.two {
        text-align: left;
    }

    //border: 1px #999 dashed;
    border-radius: 3px;
    padding: 20px 20px 0px 20px;
    margin: 0 20px;
    display: block;
    width: calc(50% - 85px);
    
    //text-align:center;
    float: left;

    @media (max-width: $breakpoint-mobile) {
        width: calc(250px);
        float: none;
        margin: 20px auto;
        text-align:center;

    }

    color: #fff;

    a {
        color: #999;
    }

}